.checkoutform label {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.checkoutform input {
    font-size: 14px !important;
}

.whatsapp-chat {
    position: fixed;
    bottom: 05% !important;
    left: 03% !important;
}
.search-bar {
    width: 20% !important;
    margin-left: 20px !important;
}
.navbar-logo {
    height: 20% !important;
    width: 30% !important;
    margin-right: 10px !important;
}

